.button{
    display: inline-block;
    height: 100px;
    width: 50px;
    padding-top:10px;
    padding-left: 100px;
    margin-top: 20px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    width: 104px;
    border-radius: 50px;
    border-color: aliceblue;
    cursor: pointer;
    transition-duration: 0.4s;
   
}

#close-image img {
    display: block;
    height: 100px;  
    width: 100px;
    border-radius: 50px;
}

#close-im img {
    display: block;
    height: 300px;  
    width: 300px;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#close-CSS {
    background-image: url( 'http://thinkingstiff.com/images/matt.jpg' );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}
